body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;

}

/* Text and Button color style */
.text-bolder{
    font-size: 1rem;
}
.text-smaller{
    font-size: .7rem;
}
.text-carmine{
    color: #960018;
}

.btn-carmine{
    background-color: #960018;
    color: #fff;
}
.btn-carmine:hover{
    color: #fff;
    transform: translateY(-1px);
}
.call-us-button{
    border: 1px solid #960018;
    color: #960018;
    transition: all .3s;
}
.call-us-button:hover{
    background-color: #960018;
    color: #fff;
    transform: translateY(-1px);
}

.register-btn {
    border: 1px solid #960018;
    color: #000;
}
.register-btn:hover{
    background-color: #960018;
    color: #fff;
    transition: all .4s;
}
/* end of Text and Button color style */


/* image style */
#brand-img{
    display: none;
}
/*end of image style*/


/* anchor tag style*/
.no-underline:hover{
    text-decoration: none;
    color: #960018 !important;
}
p .no-underline:hover{
    text-decoration: none;
    color: #960018 !important;
}
/* end of anchor tag style */


/* form style */
.search-form{
    padding: 0 3rem ;
}
/* end of form style */


/* start navber style */
.navbar {
    padding:0rem;
    margin-bottom:2rem;
}

#nav ul li a:hover {
    font-weight: bold;
    color: #960018;
}

.top-nav {
    box-shadow: 7px 3px 7px #eee;
}

.search-input {
    background: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid #999;
    transition: all .4s;
}
  
.search-input:focus {
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #dc3545;
    transform: translateY(4px);
}
  
.search-button {
    border-radius: 50%;
    padding: 10px 16px;
    transition: all .4s;
}
  
.search-button:hover {
    background-color: #eee;
    transform: translateY(-1px);
}
.navbar-brand > img{
    margin: 0px;
    padding: 0px;
    width: 20rem;
    height: 5rem;
}
/* end of navber style */


/* header  */

/* end of header style*/


@media( min-width: 768px){
    .text-bolder{
        font-size: 1.2rem;
    }
    .text-smaller{
        font-size: 1rem;
    }
    #brand-img{
        display: inline;
    }
    .search-form{
        padding: 0px;
    }

    .navbar-brand{
        transform: translateY(-25px);
    }
    .second-nav{
        height: 5rem;
    }

    .border-invoice{
        border-right: 1px solid #999;
    }

    .footer-align{
        text-align: right;
    }

}


